 /* Bar Moshe 211704580 , Ofek ben david 206514382  */
body {
    font-family:sans-serif;
    text-align: center;
    margin-top: 10%;
    background: #203a43;
    color: #eee;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #00f7ff;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 20px;
    font-weight: bold;
    color: #8fdde0;
    margin-bottom: 20px;
  }
  #from {
    font-size: 25px;
    color: #a5f3fc;
    margin-bottom: 40px;
    display: block;
    
  }
  #to {
    font-size: 25px;
    color: #a5f3fc;
    margin-bottom: 40px;
    display: block;
    margin-top: 25px;
    margin-left: 28px;
  }
  #from-buttons,
#to-buttons {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px; 
}

#from-buttons span,
#to-buttons b {
    margin-right: 10px; 
    font-weight: bold;
}
  button {
    color: rgb(119, 91, 91);
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    width: 200px;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  #output {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
  
  button:hover {
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  .Binary {
    background: #66ccff;
  }
  
  .Octaly {
    background: #ffb3e6;
  }
  
  .Decimal {
    background: #b3c9ff;
  }
  
  .Hex {
    background: #aaffaa;
  }
  
  .Binary:hover {
    background: #33aaff;
  }
  
  .Octaly:hover {
    background: #ff80c2;
  }
  
  .Decimal:hover {
    background: #99c2ff;
  }
  
  .Hex:hover {
    background: #66cc66;
  }
  .result{

    color: #030000;
    background-color: indianred;
  }  
  input[type="text"] {
    padding: 8px;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    body {
      margin: 0; /* מבטל שוליים מיותרים */
      padding: 0; /* מבטל רווחים מיותרים */
    }
  
    #from,
    #to {
      font-size: 20px; /* מקטין את גודל הטקסט */
      margin: 10px 0; /* מפחית את השוליים */
    }
  
    #from-buttons,
    #to-buttons {
      width: 100%; /* תופס את כל רוחב המסך */
      padding: 0 10px; /* מוסיף רווח פנימי */
    }
  
    button {
      width: 90%; /* הכפתורים יתפסו 90% מרוחב המסך */
      margin: 5px auto; /* מרכז את הכפתורים */
    }
  
    input[type="text"] {
      width: 90%; /* שדה הטקסט יתפוס 90% מרוחב המסך */
      margin: 10px auto; /* מרכז את שדה הטקסט */
      display: block; /* מבטיח שהשדה יהיה בשורה נפרדת */
    }
  
    #output {
      font-size: 1em; /* מקטין את גודל הטקסט של התוצאה */
      margin: 10px; /* מפחית את השוליים */
    }
  }sf